@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

@font-face {
	font-family: GraphikCy-My;
	src: url("../fonts/Graphik/GraphikRBCLC-Regular.woff2") format("woff2");
}

@font-face {
	font-family: GraphikCy-My-Semibold;
	src: url("../fonts/Graphik/GraphikRBCLC-Semibold.woff2") format("woff2");
}

@font-face {
	font-family: GraphikCy-My-Bold;
	src: url("../fonts/Graphik/GraphikRBCLC-Bold.woff2") format("woff2");
}

@font-face {
	font-family: GraphikCy-My-Medium;
	src: url("../fonts/Graphik/GraphikRBCLC-Medium.woff2") format("woff2");
}

@font-face {
	font-family: Kazimir;
	src: url("../fonts/Kazimir/KazimirTextRBC-Regular.woff2") format("woff2");
}

@font-face {
	font-family: Kazimir-Italic;
	src: url("../fonts/Kazimir/KazimirTextRBC-Regular-Italic.woff2") format("woff2");
}

@font-face {
	font-family: Kazimir-Semibold;
	src: url("../fonts/Kazimir/KazimirTextRBC-Semibold.woff2") format("woff2");
}

@font-face {
	font-family: Kazimir-Medium;
	src: url("../fonts/Kazimir/KazimirTextRBC-Medium.woff2") format("woff2");
}

@font-face {
	font-family: "coinrun";
	src: url("../fonts/Coinrun/coinrun.eot?i6uvnj");
	src: url("../fonts/Coinrun/coinrun.eot?i6uvnj#iefix") format("embedded-opentype"),
		url("../fonts/Coinrun/coinrun.ttf?i6uvnj") format("truetype"),
		url("../fonts/Coinrun/coinrun.woff?i6uvnj") format("woff"),
		url("../fonts/Coinrun/coinrun.svg?i6uvnj#coinrun") format("svg");
	font-weight: normal;
	font-style: normal;
}
